{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ARK - 学习资料{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>系统简介</h1>
        </div>
        <p>Ark-Linux在线云实验平台，基于Docker技术实现。</p>


        <div class="page-header">
            <h1>开发相关</h1>
        </div>
        <p>Chinazhenzhen</p>
        <p><a href="https://github.com/chinazhenzhen/Ark">开源项目地址</a></p>
         <div class="page-header">
            <h1>鸣谢</h1>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}