{%extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}


{%block title %}
    ARK-Linux学习平台
{% endblock %}



{% block content %}
    <div class="container main">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
            </div>
        {% endfor %}
        <div class="page-header">
            <h1>欢迎， {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}新用户{% endif %}！</h1>
        </div>
        {% if current_user.is_authenticated %}
            <a target="blank" href="http://localhost:3000/container/create">
                <button class="btn btn-lg btn-success">创建CentOS操作系统</button>
            </a>
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>


{% endblock %}