{%extends "base.html"%}

{%block title %}ARK{% endblock %}


{% block content %}
    <div class="container main">
        <div class="page-header">
            <h1>{{ current_user.username }}的机器列表！</h1>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>操作系统类型</th>
                                <th>操作系统链接</th>
                                <th>系统名</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>

                            {% for c_one in containers %}
                                <tbody>
                                    <th><span class=""></span></th>
                                    <th >{{ c_one.id }}</th>
                                    <th>{{ c_one.os_name }}</th>
                                    <td><a target="blank" href="{{ c_one.ip }}">{{ c_one.ip }}</a></td>
                                    <th>{{ c_one.container_name }}</th>
                                    <th>{{ c_one.create_time }}</th>
                                </tbody>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}